{% load static %}

<head>
  <title>Epic Forums - nintendo switch 2 Games</title>
  <link rel="stylesheet" href="{% static 'css/ns2css.css' %}">
</head>

<body>
  <h2>nintendo switch 2 Forum</h2>
  
<div class = "create">
  <a href="{% url 'addForum' %}?category=nintendo switch 2">Create a Post about a nintendo switch 2 Game Here!</a>
</div>
<br><br>
<div class = "format">
<div class = "posts">
{% for f in forums %}
  <div class = "title">
    {{ f.topic }} 
    </div>
    <div class = "description">
    {{ f.user.username }}:   {{ f.description }}
    
    <br>
      <br>
    
  <div class="button" onclick="toggle(this)">
            View Replies
  </div>

  <div class = "hide">
    {% for reply in f.reply_set.all %}
      <div class = "replies">
      {{ reply.user.username }}:   {{ reply.discuss }}
      <br><br>
      </div>
        
      
    {% empty %}
      <p><em>No replies yet.</em></p>
    {% endfor %}
    </div>
    </div>
    <br>
    <div class = "link">
    <a href="{% url 'addReply' %}?forum_id={{ f.id }}">Add a Reply</a>
    </div>
    <br>
{% empty %}
  <p>No posts yet in this category.</p>
{% endfor %}
</div>
</div>
</body> 

<script>
    function toggle(button) {
      const divForReplies = button.nextElementSibling;
      const isHidden = divForReplies.style.display === "none" || divForReplies.style.display === "";

      divForReplies.style.display = isHidden ? "block" : "none";
      button.textContent = isHidden ? "Hide Replies" : "View Replies";;
    }
  </script>