<!-- This is so we can use our css files. -->
{% load static %}

<!-- We have this head here to have the page title and add css-->
<head>
  <title>Epic Forums - Login</title>
  <link rel="stylesheet" href="{% static 'css/logincss.css' %}">
</head>
<body>
  <!-- We use the center class here so we don't modify the whole page -->
  <div class = "center">
  <h2>Register</h2>
  <form method="post">
    {% csrf_token %}
    <!-- Default Django form -->
    {{ form.as_p }}
    <button type="submit">Register</button>
  </form>

  {% if form.errors %}
    <p style="color: red;">Please fix the errors below.</p>
  {% endif %}
  </div>
</body>
